
Configuration edit s*.class

/target/
WebContent/

out/
.idea/
.idea/workspace.xml
*.jar
*.war
*.ear
.classpath
.project
.cfs
.settings/
*.iml
*.log
src/main/resources/properties/hibernate.properties
.idea/vcs.xml
